{% extends "base.html" %}
{% block canvas_block %}
<style>
    circle{
    fill: #e5b409;
    }
    text{
        fill: black;
    }
    line{
        stroke: white;
    }
</style>

<script src='https://d3js.org/d3.v3.min.js'></script>
<script>
    let nodes={
        {% for node in graph.nodes.all %}
            {% if node.is_visible == True %}
                "{{node.node_id}}":{id:"{{node.node_id}}" },
            {% endif %}
        {% endfor %}
        };
    let edges=[
        {% for edge in graph.edges.all %}
            {% if edge.is_visible == True %}
                {source:"{{edge.first_node.node_id}}",target:"{{edge.second_node.node_id}}"},
            {% endif %}
        {% endfor %}
    ]

    edges.forEach(function(link) {
        link.source = nodes[link.source];
        link.target = nodes[link.target];
    });
    console.log(nodes);
    //const canvas = document.getElementById("canvas-simple");
    const width = document.getElementById("canvas-simple").clientWidth;
    const height = document.getElementById("canvas-simple").clientHeight;


    let force = d3.layout.force()
        .size([width, height])
        .nodes(d3.values(nodes))
        .links(edges)
        .on("tick", tick)
        .linkDistance(60)
        .linkStrength(3.5)
        .charge(-350).start();

    let svg = d3.select('svg').append("g");
    let edgeComp = svg.selectAll('.edge')
        .data(edges)
        .enter().append('line')
        .attr('class', 'edge');
    let nodeComp = svg.selectAll('.node')
        .data(force.nodes())
        .enter().append('g')
        .attr('class', 'node')
        .attr('id', function(d){return d.id;})



    d3.selectAll('.node').each(function(d){
        d3.select("g[id='"+d.id+"']").append('circle').attr('r', 12);
        d3.select("g[id='"+d.id+"']").append('text').attr('x',0).attr('y',3)
        .attr('text-anchor','middle')
        .attr('font-size',10).attr('font-family','sans-serif').text(d.id);
    });
    function updateNodes(){
        nodeComp.attr("transform", function(d) {return "translate(" + d.x + "," + d.y + ")";})
            .call(force.drag);
    }
    function updateEdges(){
        edgeComp.attr('x1', function(d){
                return d.source.x;
            })
            .attr('y1', function(d){
                return d.source.y;
            })
            .attr('x2', function(d){
                return d.target.x;
            })
            .attr('y2', function(d){
                return d.target.y;
            });
    }

    function tick() {

        updateNodes();
        updateEdges();
        d3.selectAll("#canvas-simple g g").on("mousedown", function() {
        d3.event.stopImmediatePropagation(); })
    }
</script>
{% endblock %}
<!--
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <script src='https://d3js.org/d3.v3.min.js'></script>
        <title>Document</title>
    </head>
    <body>
        <div id="content">
            <svg width="800" height="800">
            </svg>
        </div>
          
    </body>
    <script type="text/javascript" src="script.html"></script>
</html>-->